name: CiBuildWheel Test (uv)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:

  build-deploy:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          uv pip install cibuildwheel 

      - name: Build binary python package
        run: |
          uv build --sdist --out-dir ./dist
          uv run cibuildwheel --output-dir ./dist

      - name: List ./dist
        run: ls ./dist
